﻿@model IEnumerable<FleetManagementSystem.MVCClient.ViewModels.Drivr>

@{
    ViewBag.Title = "Drivers List";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            Actions
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id) 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName) 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName) 
        </td>
        <td>
            @Html.ActionLink("View Assignments", "DriverAssignment", new { id = item.Id } ) |
            @Html.ActionLink("Add Assignment", "AddAssignment", new { id = item.Id }) 
        </td>
    </tr>
}
</table>
