﻿@model FleetManagementSystem.MVCClient.ViewModels.DriverAssignment

@{
    ViewBag.Title = "Map";
}



<h2>Map for Current Route</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.drivr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.complete)
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.drivr.FirstName) @Html.DisplayFor(model => model.drivr.LastName)
        </td>
        <td>
            @Html.DisplayFor(model => model.sAddress)
        </td>
        <td>
            @Html.DisplayFor(model => model.eAddress)
        </td>
        <td>
            @Html.DisplayFor(model => model.details)
        </td>
        <td>
            @Html.DisplayFor(model => model.complete)
        </td>
    </tr>
</table>

<div>
    <input id="address" hidden value=@Html.DisplayFor(model => model.sAddress) />
    <input id="address2" hidden value=@Html.DisplayFor(model => model.eAddress) />
</div>
<div id="map" style="height:396px; width: 594px;"></div>

<script async defer src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDQqDJwwFDfms1rTJzs9KRlmWjMbtnJFvQ&callback=initMap"></script>
<script src="~/scripts/google.js"></script>
