﻿@model FleetManagementSystem.MVCClient.ViewModels.Drivr

@{
    ViewBag.Title = "Driver";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Driver</title>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Fleet Management", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-left navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home","", "Home")</li>
                    @*<li>@Html.ActionLink("Assignments", "Index", "Driver")</li>*@

                </ul>
            </div>
        </div>
    </div>

    <div>
        <h1>Welcome, Driver!</h1>
    </div>


  
</body>
</html>
